<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (payment()) {
      <div>
        <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="yaosymaApp.payment.detail.title">Payment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ payment()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.paymentDate">Payment Date</span></dt>
          <dd>
            <span>{{ payment()!.paymentDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.amount">Amount</span></dt>
          <dd>
            <span>{{ payment()!.amount }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.paymentMode">Payment Mode</span></dt>
          <dd>
            <span [jhiTranslate]="'yaosymaApp.PaymentMode.' + (payment()!.paymentMode ?? 'null')">{{
              { null: '', ONLINE: 'ONLINE', CASH_ON_DELIVERY: 'CASH_ON_DELIVERY' }[payment()!.paymentMode ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.transactionId">Transaction Id</span></dt>
          <dd>
            <span>{{ payment()!.transactionId }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'yaosymaApp.PaymentStatus.' + (payment()!.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', COMPLETED: 'COMPLETED', FAILED: 'FAILED', REFUNDED: 'REFUNDED' }[payment()!.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.order">Order</span></dt>
          <dd>
            @if (payment()!.order) {
              <div>
                <a [routerLink]="['/order', payment()!.order?.id, 'view']">{{ payment()!.order?.orderNumber }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="yaosymaApp.payment.client">Client</span></dt>
          <dd>
            @if (payment()!.client) {
              <div>
                <a [routerLink]="['/client', payment()!.client?.id, 'view']">{{ payment()!.client?.email }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/payment', payment()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
