<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product()) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="yaosymaApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ product()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.name">Name</span></dt>
          <dd>
            <span>{{ product()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.description">Description</span></dt>
          <dd>
            <span>{{ product()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.image">Image</span></dt>
          <dd>
            <span>{{ product()!.image }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.quantity">Quantity</span></dt>
          <dd>
            <span>{{ product()!.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.price">Price</span></dt>
          <dd>
            <span>{{ product()!.price }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.category">Category</span></dt>
          <dd>
            @if (product()!.category) {
              <div>
                <a [routerLink]="['/category', product()!.category?.id, 'view']">{{ product()!.category?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="yaosymaApp.product.supplier">Supplier</span></dt>
          <dd>
            @if (product()!.supplier) {
              <div>
                <a [routerLink]="['/supplier', product()!.supplier?.id, 'view']">{{ product()!.supplier?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/product', product()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
