<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (driver()) {
      <div>
        <h2 data-cy="driverDetailsHeading"><span jhiTranslate="yaosymaApp.driver.detail.title">Driver</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ driver()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.firstName">First Name</span></dt>
          <dd>
            <span>{{ driver()!.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.lastName">Last Name</span></dt>
          <dd>
            <span>{{ driver()!.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.address">Address</span></dt>
          <dd>
            <span>{{ driver()!.address }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.phone">Phone</span></dt>
          <dd>
            <span>{{ driver()!.phone }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.email">Email</span></dt>
          <dd>
            <span>{{ driver()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.password">Password</span></dt>
          <dd>
            <span>{{ driver()!.password }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.driver.user">User</span></dt>
          <dd>
            <span>{{ driver()!.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/driver', driver()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
