<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-item-heading" data-cy="OrderItemCreateUpdateHeading" jhiTranslate="yaosymaApp.orderItem.home.createOrEditLabel">
        Créer ou éditer un Order Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yaosymaApp.orderItem.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="yaosymaApp.orderItem.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_unitPrice" jhiTranslate="yaosymaApp.orderItem.unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
          @if (editForm.get('unitPrice')!.invalid && (editForm.get('unitPrice')!.dirty || editForm.get('unitPrice')!.touched)) {
            <div>
              @if (editForm.get('unitPrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('unitPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalPrice" jhiTranslate="yaosymaApp.orderItem.totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          @if (editForm.get('totalPrice')!.invalid && (editForm.get('totalPrice')!.dirty || editForm.get('totalPrice')!.touched)) {
            <div>
              @if (editForm.get('totalPrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_product" jhiTranslate="yaosymaApp.orderItem.product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            @for (productOption of productsSharedCollection; track $index) {
              <option [ngValue]="productOption">{{ productOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_relatedOrder" jhiTranslate="yaosymaApp.orderItem.relatedOrder">Related Order</label>
          <select
            class="form-control"
            id="field_relatedOrder"
            data-cy="relatedOrder"
            name="relatedOrder"
            formControlName="relatedOrder"
            [compareWith]="compareOrder"
          >
            <option [ngValue]="null"></option>
            @for (orderOption of ordersSharedCollection; track $index) {
              <option [ngValue]="orderOption">{{ orderOption.orderNumber }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order" jhiTranslate="yaosymaApp.orderItem.order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order" [compareWith]="compareOrder">
            <option [ngValue]="null"></option>
            @for (orderOption of ordersSharedCollection; track $index) {
              <option [ngValue]="orderOption">{{ orderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
