<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-transport-heading" data-cy="TransportCreateUpdateHeading" jhiTranslate="yaosymaApp.transport.home.createOrEditLabel">
        Créer ou éditer un Transport
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yaosymaApp.transport.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_vehicleType" jhiTranslate="yaosymaApp.transport.vehicleType">Vehicle Type</label>
          <input
            type="text"
            class="form-control"
            name="vehicleType"
            id="field_vehicleType"
            data-cy="vehicleType"
            formControlName="vehicleType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_driverName" jhiTranslate="yaosymaApp.transport.driverName">Driver Name</label>
          <input
            type="text"
            class="form-control"
            name="driverName"
            id="field_driverName"
            data-cy="driverName"
            formControlName="driverName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_driverPhone" jhiTranslate="yaosymaApp.transport.driverPhone">Driver Phone</label>
          <input
            type="text"
            class="form-control"
            name="driverPhone"
            id="field_driverPhone"
            data-cy="driverPhone"
            formControlName="driverPhone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trackingNumber" jhiTranslate="yaosymaApp.transport.trackingNumber">Tracking Number</label>
          <input
            type="text"
            class="form-control"
            name="trackingNumber"
            id="field_trackingNumber"
            data-cy="trackingNumber"
            formControlName="trackingNumber"
          />
          @if (
            editForm.get('trackingNumber')!.invalid && (editForm.get('trackingNumber')!.dirty || editForm.get('trackingNumber')!.touched)
          ) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="yaosymaApp.transport.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'yaosymaApp.TransportStatus.null' | translate }}</option>
            @for (transportStatus of transportStatusValues; track $index) {
              <option [value]="transportStatus">{{ 'yaosymaApp.TransportStatus.' + transportStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estimatedDeliveryTime" jhiTranslate="yaosymaApp.transport.estimatedDeliveryTime"
            >Estimated Delivery Time</label
          >
          <div class="d-flex">
            <input
              id="field_estimatedDeliveryTime"
              data-cy="estimatedDeliveryTime"
              type="datetime-local"
              class="form-control"
              name="estimatedDeliveryTime"
              formControlName="estimatedDeliveryTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order" jhiTranslate="yaosymaApp.transport.order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order" [compareWith]="compareOrder">
            <option [ngValue]="null"></option>
            @for (orderOption of ordersSharedCollection; track $index) {
              <option [ngValue]="orderOption">{{ orderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
