<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (store()) {
      <div>
        <h2 data-cy="storeDetailsHeading"><span jhiTranslate="yaosymaApp.store.detail.title">Store</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ store()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.store.name">Name</span></dt>
          <dd>
            <span>{{ store()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.store.location">Location</span></dt>
          <dd>
            <span>{{ store()!.location }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.store.description">Description</span></dt>
          <dd>
            <span>{{ store()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.store.owner">Owner</span></dt>
          <dd>
            <span>{{ store()!.owner?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/store', store()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
