<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (order()) {
      <div>
        <h2 data-cy="orderDetailsHeading"><span jhiTranslate="yaosymaApp.order.detail.title">Order</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ order()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.orderNumber">Order Number</span></dt>
          <dd>
            <span>{{ order()!.orderNumber }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.orderDate">Order Date</span></dt>
          <dd>
            <span>{{ order()!.orderDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.totalPrice">Total Price</span></dt>
          <dd>
            <span>{{ order()!.totalPrice }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'yaosymaApp.OrderStatus.' + (order()!.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', CONFIRMED: 'CONFIRMED', SHIPPED: 'SHIPPED', DELIVERED: 'DELIVERED', CANCELLED: 'CANCELLED' }[
                order()!.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.paymentMethod">Payment Method</span></dt>
          <dd>
            <span [jhiTranslate]="'yaosymaApp.PaymentMethod.' + (order()!.paymentMethod ?? 'null')">{{
              {
                null: '',
                CREDIT_CARD: 'CREDIT_CARD',
                PAYPAL: 'PAYPAL',
                BANK_TRANSFER: 'BANK_TRANSFER',
                CASH_ON_DELIVERY: 'CASH_ON_DELIVERY',
              }[order()!.paymentMethod ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.deliveryAddress">Delivery Address</span></dt>
          <dd>
            <span>{{ order()!.deliveryAddress }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.signature">Signature</span></dt>
          <dd>
            <span>{{ order()!.signature }}</span>
          </dd>
          <dt><span jhiTranslate="yaosymaApp.order.client">Client</span></dt>
          <dd>
            @if (order()!.client) {
              <div>
                <a [routerLink]="['/client', order()!.client?.id, 'view']">{{ order()!.client?.email }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/order', order()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
