<div>
  <h2 id="page-heading" data-cy="TransportHeading">
    <span jhiTranslate="yaosymaApp.transport.home.title">Transports</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="yaosymaApp.transport.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transport"
        [routerLink]="['/transport/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yaosymaApp.transport.home.createLabel">Créer un nouveau Transport</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (transports?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="yaosymaApp.transport.home.notFound">Aucun Transport trouvé</span>
    </div>
  }

  @if (transports && transports.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleType">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.vehicleType">Vehicle Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="driverName">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.driverName">Driver Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="driverPhone">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.driverPhone">Driver Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trackingNumber">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.trackingNumber">Tracking Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedDeliveryTime">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.estimatedDeliveryTime">Estimated Delivery Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="order.id">
              <div class="d-flex">
                <span jhiTranslate="yaosymaApp.transport.order">Order</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (transport of transports; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/transport', transport.id, 'view']">{{ transport.id }}</a>
              </td>
              <td>{{ transport.vehicleType }}</td>
              <td>{{ transport.driverName }}</td>
              <td>{{ transport.driverPhone }}</td>
              <td>{{ transport.trackingNumber }}</td>
              <td [jhiTranslate]="'yaosymaApp.TransportStatus.' + (transport.status ?? 'null')">
                {{
                  { null: '', SCHEDULED: 'SCHEDULED', IN_TRANSIT: 'IN_TRANSIT', DELIVERED: 'DELIVERED', CANCELLED: 'CANCELLED' }[
                    transport.status ?? 'null'
                  ]
                }}
              </td>
              <td>{{ transport.estimatedDeliveryTime | formatMediumDatetime }}</td>
              <td>
                @if (transport.order) {
                  <div>
                    <a [routerLink]="['/order', transport.order.id, 'view']">{{ transport.order.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/transport', transport.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/transport', transport.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(transport)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (transports && transports.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
